POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgress_password

API_URL=http://pet-shelter-app:8080

OPENROUTER_API_KEY=your_open_router_api_key
OPENROUTER_MODEL=openai/gpt-oss-120b:free
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1